.header{
    margin-top: 3vh;
}

.company-logo{
    text-align: end;
}

.company-name{
    padding-left: 5px;
}

.slogan{
    font-size: 13px;
    padding-left: 5px;
}

.search-bar{
    width: 80%;
    text-indent: 35px;
}

.search-bar:focus{
    outline: none;
}

.search-bar-logo{
    position: absolute;
    padding-top: 3px;
    padding-left: 10px;
}

.user-logo{
    text-align: end;
    opacity: 50%;
}

.log-in{
    border: solid 1px gray; 
    border-radius: 10px;
}

.log-in-text{
    font-size: 14px;
    padding-right: 0px;
    padding-left: 20px;
}

.or-register-text{
    font-size: 13px;
    padding-right: 0px;
    padding-left: 20px;
}

.shopping-cart{
    border: solid 1px gray; 
    border-radius: 10px;
}

.shopping-cart-text{
    font-size: 13.5px;
    padding-left: 25px;
}