<div class="header">
    <div class="row">
        <div class="col-1 align-self-center company-logo">
            <fa-icon [icon]="companyLogo" size="2x"></fa-icon>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col company-name">
                    Sneety
                </div>
            </div>
            <div class="row">
                <div class="col slogan">
                    <i>
                        Dress Classy
                    </i>
                </div>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <fa-icon [icon]="searchBarLogo" class="search-bar-logo"></fa-icon>
            <input class="search-bar" type="text" placeholder="Shirts are 30% off!" (input)="sendTheNewValue($event)">
        </div>
        <div class="col-2">
            <div class="row justify-content-end">
                <div class="col-8 offset-2 log-in">
                    <div class="row">
                        <div class="col-3 align-self-center user-logo">
                            <fa-icon [icon]="userLogo" size="2x" class="user-logo"></fa-icon>
                        </div>
                        <div class="col-9 align-self-center">
                            <div class="row">
                                <div class="col log-in-text">
                                    Log in
                                </div>
                            </div>
                            <div class="row">
                                <div class="col or-register-text">
                                    or register
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-9 offset-1 shopping-cart">
                    <div class="row">
                        <div class="col-3 align-self-center user-logo">
                            <fa-icon [icon]="shoppingCartLogo" size="2x" class="user-logo"></fa-icon>
                        </div>
                        <div class="col-9 align-self-center">
                            <div class="row">
                                <div class="col shopping-cart-text">
                                    Shopping
                                </div>
                            </div>
                            <div class="row">
                                <div class="col shopping-cart-text">
                                    Cart
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>