<div class="row category-bar">
    <div class="col-6 align-self-center">
        <div class="row">
            <div class="col category-name">
                Suits
            </div>
            <div class="col category-name">
                Shirts
            </div>
            <div class="col category-name">
                Trousers
            </div>
            <div class="col category-name">
                Shoes
            </div>
            <div class="col category-name">
                Accessories
            </div>
            <div class="col category-name">
                Campaigns
            </div>
        </div>
    </div>
   
</div>