.banner-area{
    height: 50vh;
    border-radius: 60px;
    text-align: center;
    margin-top: 6vh;
}

.banner{
    height: 100%;
    width: 100%;
    border-radius: 60px;
}

.sub-banner-area{
    margin-top: 3vh;
    height:10vh;
}

.sub-banner{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}